body{
    background-color: #f5f5f5;
    color: #4e4e4e;
}

.box-shadow-full{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.about-img{
    margin-bottom: 2 rem;
}

img{
    width: 160px;
    margin-left: 10px;
}

.skills-mf span{
    color: #4e4e4e;
    padding-left: 10px;
}

.progress{
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    height: 0.7rem;
    margin-left: 10px;
}

.progress-bar{
    height: .7rem;
    background-color: #0078ff;
}

.fs-25{
    font-size: 24px;
}

.title-left{
    font-size: 3rem;
    position: relative;
}

.title-left:before{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}

.title-s{
    font-weight: 600;
    color: #1e1e1e;
    font-size: 2.3rem;
    padding-left: 10px;
}

.title-s1{
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.4rem; 
}

.sect-pt4{
    padding-top: 4rem;
}

.box-shadow-full{
    background-color: white;
    position: relative;
    padding: 3rem 1.25rem;
    z-index: 2;
    margin-bottom: 3rem;
    box-shadow: 5px 10px 7px 25px rgba(211, 211, 211,0.5);
}



