@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: darksalmon;
    font-family: "Roboto",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

div{
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
}

input{
    width: 50px;
    padding: 5px;
    font-size: 20px;
    background-color: darksalmon;
    border: none;
    text-align: center;
}

input:focus{
    outline: none;
}