.middle{
    margin: auto;
    width: 60%;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

table{
    border: 1px solid black;
    border-spacing: 1px;
}

td{
    padding: 1px;
    border: 1px solid black;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}