*{
    font-family: sans-serif;
}

body{
    width: 50%;
    max-width: 750px;
    min-width: 480px;
    margin: 0 auto;
}

#wrapper{
    box-sizing: border-box;
    text-align: center;
    width: 750px;
    height: 550px;
    background-color: #12aab4;
    color: #fff;
    font-size: 25px;
}

h1{
    background-color: #7b3056;
    color: #fff;
    text-align: center;
    width: 750px;
}
p{
    font-size: 20px;
    text-align: center  ;
}
.lastResult,.guesses{
    color: white;
    padding: 7px;
}

button{
    background-color: purple;
    color: #fff;
    width: 250px;
    height: 50px;
    font-size: 30px;
    border-radius: 25px;
    border-style: none;
    margin: 30px;
}
#subt{
    background-color: yellow;
    color: #000;
    width: 350px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
    border-style: none;
    margin-top: 50px;
    cursor: pointer;
}

#guess{
    font-size: 50px;
    margin-top: 100px;
    color: #fff;
}

.guesses{
    background-color: #12aab4;

}

#guessField{
    color: #000;
    width: 550px;
    height: 100px;
    border-style: none;
    font-size: 50px;
    border: 5px solid #14727d;
    text-align: center;

}

