/* body{
    font-size: 50px;
}
.merriweather{
    font-family: 'Merriweather', serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.sacramento {
    font-family: 'Sacramento', cursive;
} */


body{
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
    color: #40514E;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 6em;
    color: #66BFBF;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: normal;
    padding-bottom: 10px;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.profile img{
    width: 200px;
    /* height: 200px; */
    border-radius: 50%;
}

h3{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
}

hr{
    border: dotted blueviolet 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: black;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.pro{
    text-decoration: underline;
}

.code-img{
    width: 25%;
    float: left;
    margin-left: 30px;
}

.netflix-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.intro{
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn{
    background-color: #11cdd4;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    /* text-decoration: none; */
}

.btn:hover{
    background: #30e3cb;

}

p{
    line-height: 2;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}




