body{
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5;
    background-color: lightskyblue;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

button{
    font-size: 1.5 rem;
    margin: 25px;
    background-color: purple;
    border: none;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}

#winner {
    color: green;
}

#loser {
    color: red;
}

.results{
    font-weight: bold;
}

.box{
    position: relative;
    border-radius: 50%;
    background-color: red;
    width: 100px;
    height: 100px;
}
