@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  font-family: "Poppins", "Verdana", sans-serif;
  display: flex;
  align-items: center;
  padding: 1.25em;
}

table {
  width: 100%;
  max-width: 1200px;
  border-spacing: 0;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid #ddd;
  margin: auto;
}

th {
  background: #215a8e;
  text-align: left;
  text-transform: uppercase;
  padding: 1em;
  color: #fff;
}

td {
  padding: 1em;
}

tr:nth-child(even) {
  background-color: #ddd;
}
