*{
    box-sizing: border-box;
}

body{
    display:grid;
    padding-top: 50px;
    background-color: lightgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    max-width: 100%;
}

.product{
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    /* The first width will take 9/10th the space 
    taken by second column */
    margin: auto;
    min-width: 600px;
    border-radius: 5px;
    background-color: white;
    padding: 2.5em 0;
}

.product__photo{
    position: relative;
}

.photo-container{
    position: absolute;
    left: -3em;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 4px 4px 25px -2px rgba(0,0,0, 0.3);
}

.photo-main{
    border-radius: 5px 5px 0 0;
    /* height: 400px; */
    background-color: greenyellow;
    /* Add gradient */
    background: radial-gradient(#F5F5F5 30%,greenyellow 70%);

}

.photo-main .controls{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: white;
}
.photo-main .controls i {
    cursor: pointer;
}

.photo-main img{
    position: absolute;
    left: -4em;
    top: 2em;
    /* max-width: 110%; */
    filter: saturate(120%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0,0,0,0.3));
}
/* div>div>p{
    text-transform: uppercase;
} */
.photo-album{
    border-radius: 0 0 6px 6px;
    padding: 1em 1em;
    background-color: white;
}

.photo-album ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.photo-album li {
    float: left;
    width: 50px;
    height: 50px;
    list-style: none;
    padding: 5px;
    margin-right: 4px;
    border: 0.1px solid lightgray;
    border-radius: 3px;
}

.title h1{
    font-size: 1.5em;
    color: darkslategray;
}

.title span {
    font-size: 0.7em;
    color: lightgray;
}

.price{
    margin: 1.5em 0;
    color: red;
    font-size: 1.5em;
}

.price span{
    padding-left: 0.2em;
    font-size: 3em;
}

.variant li {
    float: left;
    width: 50px;
    height: 50px;
    list-style: none;
    cursor: pointer;
    padding-left: 5px;
    padding: 3px;
    margin-left: 4px;
}

.variant li:first-child,.variant li:hover{
    border: 1px solid darkslategray;
    border-radius: 3px;
}

.description{
    clear: left;
    margin: 2em 0;
}

.description ul {
    font-size: 0.8em;
}

.buy--btn{
    padding: 1.5em 3em;
    border: none;
    border-radius: 7.5px;
    letter-spacing: 1.5px;
    color: white;
    font-size: 1em;
    font-weight: 700;
    background-color: indianred;
    box-shadow: 2px 2px 25px -5px gray;
    cursor: pointer;
}

.buy--btn:active{
    transform: scale(0.95);
}

/* 
Div=> grid of 100 px width
grid
grid-template-columns: 0.5fr 1fr 0.5fr;
0.5fr + 1 fr + 0.5fr = 100px
fr = 50px
1=> 25px
2=> 50px
3=> 25px 

*/
